:host {
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
  }

  header img {
    max-height: 50px;
  }
  
  header img:hover {
    cursor: pointer;
  }
}

.icons{
  margin-left: 20px;
}

.icons:hover{
  cursor: pointer;
}