<div mat-dialog-content>
  <h3>Photobooth authentication:</h3>
  <mat-form-field appearance="fill">
    <mat-label>Hostname</mat-label>
    <input matInput [(ngModel)]="hostname">
  </mat-form-field><br>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email">
  </mat-form-field><br>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="password">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-raised-button (click)="onConnexion()">Connexion</button>
</div>