<div class="photobooth-sync-container">
  <!-- Remote projects table -->
  <div class="remote-projects-container">
    <h5>Remote projects</h5>

    <table mat-table [dataSource]="remoteProjects" class="mat-elevation-z8" multiTemplateDataRows>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let project; columns: displayedColumns;"
          class="project-row"
          [class.project-expanded-row]="expandedRemoteProject === project"
          (click)="expandedRemoteProject = expandedRemoteProject === project ? null : project">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="project-detail-row"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">No data.</td>
      </tr>

      <!-- Project Column -->
      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef>Project</th>
        <td mat-cell *matCellDef="let project">
          <div class="project-name-container">
            <mat-icon mat-list-icon>folder</mat-icon>
            <div mat-line>{{project.name}}</div>
          </div>
        </td>
      </ng-container>

      <!-- Creation date Column -->
      <ng-container matColumnDef="creation date">
        <th mat-header-cell *matHeaderCellDef>Creation date</th>
        <td mat-cell *matCellDef="let project"> {{project.creationDate.toLocaleDateString()}}
          à {{project.creationDate.toLocaleTimeString()}} </td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let project">Unknown</td>
      </ng-container>

      <!-- Project files -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let project" [attr.colspan]="displayedColumns.length">
          <div class="project-detail"
               [@detailExpand]="project == expandedRemoteProject ? 'expanded' : 'collapsed'">
            <mat-list>
              <div mat-subheader>Files</div>
              <mat-list-item *ngFor="let file of project.files">
                <div class="file-name-container">
                  <mat-icon mat-list-icon>insert_drive_file</mat-icon>
                  <div mat-line>{{file.name}}</div>
                </div>
              </mat-list-item>
            </mat-list>
          </div>
        </td>
      </ng-container>

    </table>
    <button mat-raised-button (click)="getRemoteProjects()">IMPORT REMOTE PROJECTS</button>
  </div>

  <!-- Sync button -->
  <div class="sync-buttons">
    <button mat-icon-button>
      <mat-icon>sync</mat-icon>
    </button>
  </div>

  <!-- Local projects table -->
  <div class="local-projects-container">
    <h5>Local projects</h5>

    <table mat-table [dataSource]="localProjects" class="mat-elevation-z8" multiTemplateDataRows>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let project; columns: displayedColumns;"
          class="project-row"
          [class.project-expanded-row]="expandedLocalProject === project"
          (click)="expandedLocalProject = expandedLocalProject === project ? null : project">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="project-detail-row"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">No data.</td>
      </tr>

      <!-- Project Column -->
      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef>Project</th>
        <td mat-cell *matCellDef="let project">
          <div class="project-name-container">
            <mat-icon mat-list-icon>folder</mat-icon>
            <div mat-line>{{project.name}}</div>
          </div>
        </td>
      </ng-container>

      <!-- Creation date Column -->
      <ng-container matColumnDef="creation date">
        <th mat-header-cell *matHeaderCellDef>Creation date</th>
        <td mat-cell *matCellDef="let project"> {{project.creationDate.toLocaleDateString()}}
          à {{project.creationDate.toLocaleTimeString()}} </td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let project">Unknown</td>
      </ng-container>

      <!-- Project files -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let project" [attr.colspan]="displayedColumns.length">
          <div class="project-detail"
               [@detailExpand]="project == expandedLocalProject ? 'expanded' : 'collapsed'">
            <mat-list>
              <div mat-subheader>Files</div>
              <mat-list-item *ngFor="let file of project.files">
                <div class="file-name-container">
                  <mat-icon mat-list-icon>insert_drive_file</mat-icon>
                  <div mat-line>{{file.name}}</div>
                </div>
              </mat-list-item>
            </mat-list>
          </div>
        </td>
      </ng-container>

    </table>
    <button mat-raised-button (click)="getLocalProjects()">IMPORT LOCAL PROJECTS</button>
  </div>

</div>
