.photobooth-sync-container {
  display: flex;
  align-content: stretch;
  align-items: center;
  padding: 20px;
}

.remote-projects-container,
.local-projects-container {
  width: 100%;
}

.sync-buttons {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

table {
  width: 100%;
  margin-bottom: 20px;
}
