.photobooth-sync-container {
  padding: 20px;

  table {
    width: 100%;
    margin-bottom: 20px;

    tr.project-row {
      td {
        border-bottom-width: 0;

        .project-name-container {
          display: flex;
          align-items: center;

          mat-icon {
            margin-right: 5px;
          }
        }
      }

      &:not(.project-expanded-row):hover {
        background: lightgray;
      }

      &:not(.project-expanded-row):active {
        background: lightgray;
      }
    }

    tr.project-detail-row {
      height: 0;

      td {
        .project-detail {
          overflow: hidden;

          mat-list {
            padding: 0;

            mat-list-item {
              padding: 0;
              font-size: inherit;
              height: 30px;

              ::ng-deep .mat-list-item-content {
                padding: 0;

                .file-name-container {
                  display: flex;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }

    td {
      button.sync-button {
        width: fit-content;
        height: fit-content;
        display: flex;
        line-height: unset;

        mat-icon.synchronized {
          color: seagreen;
        }

        mat-icon.unsynchronized {
          color: red;
        }

        mat-icon.cloud {
          color: dodgerblue;
        }

        mat-icon.local {
          color: rebeccapurple;
        }

        mat-icon.sync-off {
          color: grey;
        }
      }
    }
  }
}

