<!-- <hot-table
  licenseKey='non-commercial-and-evaluation'
  [settings]="tableSettings"
  [data]="dataset"></hot-table> -->

  <div>
    <hot-table
      class="hot-table"
      licenseKey='non-commercial-and-evaluation'
      [data]="dataset"
      [colHeaders]="true"
      [rowHeaders]="true">
        <hot-column data="name" title="Name"></hot-column>
        <hot-column data="start_marker" title="Marker start"></hot-column>
        <hot-column data="end_marker" title="Marker end"></hot-column>
    </hot-table>
  </div>
  <button (click)="onGetData()">get data</button>